Description=Data Uploader Service

[Service]
ExecStart=python3 /home/pi/app/DataUploader.py
WorkingDirectory=/home/pi/app
StandardOutput=syslog
StandardError=syslog
User=pi
SyslogIdentifier=data_collector
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
